body{
  background: rgb(245,245,245);
  color: green;
  font-size: 25px;
  font-family: Helvetica;
}
h1{
  font-family: Courier
  color: red;
  font-weight: lighter;
  font-size: 10px;
}
h2 {
  font-family: Courier
  color: #A8D1DD;
  font-weight: lighter;
  font-size: 26px;
}
a {
  color: yellow;
}
a:hover {
  text-decoration: none;
  color: pink;
}
#banner{
  text-align: center;
  background-image: url("https://unsplash.it/1000/600?random");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  color: white;
}
#banner h1 {
  font-size: 50px;
}
#banner p {
  margin-bottom: 40px;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}
#banner img {
  border-radius: 50%;
}
#footer{
  padding: 30px;
  background-color: black;
  color: lightgrey;
}
.card-white {
  background-color: white;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  padding: 16px;
  margin: 16px 0px;
}
.card-white img {
  margin-bottom: 20px;
}
.btn-blue {
  color: white;
  background-color: #6772e5;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  padding: 15px 20px;
}
.btn-blue:hover {
  background-color: #7795f8;
  color: white;
}
.cards{
  margin: 15px auto;
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
@media(max-width: 992px){
  .cards{
  width: 750px;
  }
}
@media(max-width: 768px){
  .cards{
  width: 90%;
  grid-template-columns: 1fr;
  }
}